#root {
    text-align: center;
}

#root-container {
    margin-top: 50px;
}

#search,
#graph-config {
    display: inline-block;
}

.file-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-form > label {
    margin-right: 10px;
    justify-content: center;
}

#search-tooltip-icon {
    pointer-events: auto;
}

.tippy-tooltip-content {
    text-align: left;
}

.tippy-tooltip-content > p:not(:last-child) {
    margin-bottom: 20px;
}

.tippy-tooltip-content img {
    display: block;
    margin-top: 10px;
    width: 400px;
    height: auto;
}

#search-tooltip-template {
    display: none;
}

#content {
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 90%;
    min-height: 300px;
}

#content .is-loading {
    border: 0;
}

.footer {
    /* position: absolute; */
    /* bottom: 0; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer > span {
    margin-right: 5px;
}

.footer > a {
    line-height: 0;
}

.footer img {
    width: 30px;
    height: auto;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid gray; 
}

.error .notification-title {
    color: red;
}   

.notification-title {
    font-weight: bold;
}

.notification-details {
    font-size: 13px;
}

#graph-container .tabs {
    margin-bottom: 20px;
}

#graph-config {
    margin-bottom: 10px;
}

#graph-config p {
    white-space: nowrap;
}

#graph-config .field-label {
    margin-right: 10px;
}

#movie-tooltip {
    position: absolute;
    visibility: hidden;
}

@media screen and (min-width: 800px) {
    #movie-tooltip {
        visibility: visible;
        right: 0px;
        top: 235px;
        padding: 5px 7px;
        font-size: 12px;
        text-align: left;
        color: white;
        background-color: black;
        opacity: 0.8;
        border-radius: 7px;
    }

    #movie-tooltip p {
        width: 165px;
    }

    #movie-tooltip.hidden {
        visibility: hidden;
    }
}
