#root {
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

#root-container {
    margin-top: 50px;
}

#search, #graph-config {
    display: inline-block;
}

#content {
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 90%;
}

#content .is-loading {
    border: 0;
}

#graph-container .tabs {
    margin-bottom: 20px;
}

#graph-config {
    margin-bottom: 10px;
}

#graph-config p {
    white-space: nowrap;
}

#graph-config .field-label {
    margin-right: 10px;
}
